<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879734585335-u56v3rhg6ad5m7c1ll79ur1isqk9s1or.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879734585335-u56v3rhg6ad5m7c1ll79ur1isqk9s1or</string>
	<key>API_KEY</key>
	<string>AIzaSyBIIZCIJymlEXNI4070XmU_TyvieAaVZss</string>
	<key>GCM_SENDER_ID</key>
	<string>879734585335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tuwaiqCommunity</string>
	<key>PROJECT_ID</key>
	<string>tuwaiqcommunity</string>
	<key>STORAGE_BUCKET</key>
	<string>tuwaiqcommunity.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879734585335:ios:e9815f82ef9058c8e220f2</string>
</dict>
</plist>